<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AnonInnerLength"/>
        <module name="ArrayTypeStyle"/>
        <module name="ConstantName">
            <property name="applyToPrivate" value="false"/>
            <property name="applyToPackage" value="false"/>
        </module>
        <module name="DefaultComesLast"/>
        <module name="EqualsHashCode"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock">
            <property name="commentFormat" value="^.*(I|i)gnore.*$"/>
            <property name="exceptionVariableName" value="^ignore.*$"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="IllegalIdentifierName"/>
        <module name="MethodName"/>
        <module name="MissingJavadocMethod">
            <property name="allowMissingPropertyJavadoc" value="true"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>
        <module name="NoFinalizer"/>
        <module name="OneTopLevelClass"/>
        <module name="ParenPad"/>
        <module name="RightCurly"/>
        <module name="StringLiteralEquality"/>
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="TypecastParenPad"/>
        <module name="TypeName"/>
    </module>
</module>